@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media screen and (max-width: 85em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 31.25em) {
    html {
      font-size: 45%; } }

body {
  font-family: Ubuntu, sans-serif;
  line-height: 1.6;
  color: #000;
  background-color: rgba(68, 171, 150, 0.1); }

.container {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: [full-start] 0 [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] 0 [full-end]; }

.about__name {
  font-size: 5rem !important; }

.about__job {
  font-size: 3rem !important; }

.about__description {
  font-size: 2rem !important; }

#header-1 {
  font-size: 8rem;
  letter-spacing: 1px; }

#header-3 {
  font-size: 2rem; }

#navText {
  font-size: 2rem;
  margin-top: 0.3rem; }

#btnText {
  font-size: 1.5rem; }

.about {
  grid-row: 2/3;
  grid-column: center-start/center-end;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(57rem, 1fr));
  padding: 5rem 5.5rem 10rem 5.5rem; }
  .about__overview {
    display: flex;
    flex-direction: column; }
  .about__image {
    height: 50rem;
    width: 50rem;
    border-radius: 50%;
    border-collapse: separate; }
  .about__me {
    display: flex;
    flex-direction: column;
    row-gap: 2rem; }
  .about__name {
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #F78698, #A0051D);
    background-clip: text;
    color: transparent; }
  .about__job {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222;
    margin-top: -4rem; }
  .about__description {
    font-size: 2rem;
    max-width: 60rem;
    color: #222;
    text-align: justify; }
  .about .skills {
    font-size: 5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #F78698, #A0051D);
    background-clip: text;
    color: transparent; }

.about__skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  /* Badge */
  /* Colors */ }
  .about__skill .wrapper {
    text-align: center;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 1rem; }
  .about__skill .badge {
    margin: 1.5rem 3rem;
    width: 10rem;
    height: 10rem;
    border-radius: 20%;
    display: inline-block;
    top: 0;
    transition: all 0.2s ease;
    box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43); }
  .about__skill .rounded {
    width: 7rem;
    height: 7rem;
    background: white;
    position: absolute;
    margin: 15px 16px auto;
    z-index: 10;
    border-radius: 30%;
    box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23); }
    .about__skill .rounded i.fab,
    .about__skill .rounded i.fas {
      font-size: 3.5rem;
      margin-top: 16px; }
  .about__skill .blue {
    background: dodgerblue;
    color: deepskyblue; }
  .about__skill .orange {
    background: darkorange;
    color: orange; }
  .about__skill .gold {
    background: gold;
    color: gold; }
  .about__skill .black {
    background: #757575;
    color: #757575; }
  .about__skill .react {
    background: #61dbfb;
    color: #61dbfb; }
  .about__skill .purple {
    background: mediumpurple;
    color: slategray; }
  .about__skill .green {
    background: yellowgreen;
    color: darkslategray; }
  .about__skill .crimson {
    background: crimson;
    color: firebrick; }
  .about__skill .steel {
    background: steelblue;
    color: gold; }
  .about__skill .pink {
    background: hotpink;
    color: palevioletred; }
  .about__skill .rebecca {
    background: rebeccapurple;
    color: rebeccapurple; }
  .about__skill .gainsboro {
    background: gainsboro;
    color: orangered; }
  .about__skill .grey {
    background: #464646;
    color: #464646; }

@media screen and (max-width: 1200px) {
  .about__skills {
    justify-items: center; } }

.project {
  grid-row: 3/4;
  grid-column: center-start/center-end;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(to right, rgba(68, 171, 150, 0.3), rgba(68, 171, 150, 0.3)), url("../patterns/Paaatterns/SVG/Taieri.svg");
  background-size: cover;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-gap: 6rem;
  align-items: center;
  justify-items: center;
  color: rgba(255, 255, 255, 0.9);
  padding: 25rem 5rem 20rem 5rem;
  /* CARD BACKGROUNDS */ }
  .project__item {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 1.5rem;
    padding: 2rem;
    position: relative;
    width: 50rem;
    height: 25rem; }
  .project__header {
    grid-row: 1/2; }
  .project__name {
    font-size: 3rem; }
  .project__stack {
    font-size: 1rem;
    margin-top: -0.5;
    display: flex;
    align-items: center;
    gap: 3px; }
  .project__description {
    grid-row: 2/3;
    font-size: 1.5rem;
    text-align: justify; }
  .project__seek {
    grid-row: 3/4;
    font-size: 2rem;
    display: flex;
    column-gap: 2rem;
    align-items: center; }
    .project__seek span {
      font-size: 1.5rem;
      margin-left: -1.6rem; }
  .project .card {
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s; }
  .project .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe); }
  .project .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2); }
  .project .card-3 {
    background: radial-gradient(#76b2fe, #b69efe); }
  .project .card-4 {
    background: radial-gradient(#60efbc, #58d5c9); }
  .project .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5); }

.u-add-section-margin {
  padding: 15rem 5rem !important; }

@media screen and (max-width: 1050px) {
  body {
    padding: 0 !important; }
  .project {
    justify-items: stretch;
    align-items: stretch; }
  .project__item {
    width: 100%;
    height: 100%; } }

:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s; }

.hero {
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-image: linear-gradient(to right, rgba(68, 171, 150, 0.3), rgba(68, 171, 150, 0.3)), url("../patterns/Paaatterns/SVG/Taieri.svg");
  background-size: cover;
  overflow: hidden;
  grid-row: 1/2;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-rows: 1fr min-content 2fr min-content 1fr;
  grid-gap: 10rem;
  color: var(--color-black-2); }

.nav {
  grid-row: 2/3;
  margin-left: 6rem;
  display: flex;
  flex-direction: column; }
  .nav__about a,
  .nav__project a,
  .nav__contact a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-family: Ubuntu, sans-serif;
    color: var(--color-black-2);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    font-size: 2rem;
    display: inline-block; }
    .nav__about a::after,
    .nav__project a::after,
    .nav__contact a::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 110%;
      height: 3px;
      background: #E53855;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s; }
    .nav__about a:hover,
    .nav__project a:hover,
    .nav__contact a:hover {
      color: #95a5a6; }
    .nav__about a:hover::after,
    .nav__project a:hover::after,
    .nav__contact a:hover::after {
      transform: scaleX(1);
      transform-origin: left; }
  .nav__about {
    margin-top: 2rem; }
  .nav__project {
    margin-top: 0.5rem; }
  .nav__contact {
    margin-top: 0.5rem; }

.header {
  grid-row: 4/5;
  margin-left: 6rem;
  font-family: 'Ubuntu', sans-serif; }
  .header__name {
    font-size: 5rem;
    font-weight: 700; }
  .header__description {
    max-width: 46rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: justify; }
    .header__description span {
      color: #E53855; }

.btn-contact {
  display: inline-block;
  position: relative;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-black);
  trasnition: var(--speed-normal);
  border: 1px solid var(--color-red);
  background-color: transparent;
  margin-left: 0;
  font-size: 1.5rem; }

.btn-contact:hover {
  border: 1px solid transparent;
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  -webkit-animation: animate var(--speed-fast) steps(8) forwards;
  animation: animate var(--speed-fast) steps(8) forwards; }

@keyframes animate {
  0% {
    background-position-y: 0; }
  100% {
    background-position-y: -480px; } }

#logo {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  background-color: #FFB017;
  display: flex;
  justify-content: center;
  align-items: center; }
  #logo a {
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    text-align: center;
    font-size: 2.5rem;
    color: #000; }

.nav {
  font-size: 1.5rem !important; }

.header__description {
  font-size: 1.5rem; }

.btn-contact {
  padding: 0rem 1rem; }

.footer {
  grid-row: 4/5;
  grid-column: center-start/center-end; }

ul {
  display: flex;
  justify-content: center;
  align-items: center; }

ul li {
  list-style: none; }

ul li a {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: block;
  margin: 0 10px;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(0deg, #ddd, #fff);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: .5s; }

ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none; }

ul li a .fab {
  widht: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: .5s; }

ul li:nth-child(1) a:hover .fab {
  color: #00aced; }

ul li:nth-child(2) a:hover .fab {
  color: #0E76A8; }

ul li:nth-child(3) a:hover .fab {
  color: #171515; }

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3rem; }

.footer__mail {
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer; }

@media screen and (max-width: 75em) {
  #hero {
    clip-path: polygon(0 0, 100% 0, 100% 64vh, 0 100%); } }

@media screen and (max-width: 71.375em) {
  .about__overview {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .wrapper {
    max-width: 111rem;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 63.75em) {
  .about {
    row-gap: 4rem; }
  .about__overview {
    flex-direction: column;
    align-items: center; }
  .about__description {
    max-width: 100%; }
  .about__skill {
    width: 100%; }
  .about__skill {
    align-items: flex-start; }
  .about__description {
    margin-left: 1.5rem; }
  .about {
    row-gap: 10rem; }
  .wrapper {
    margin-left: -10.5rem; } }

@media only screen and (max-width: 31.25em) {
  clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%);
  #hero .nav,
  #hero .header {
    margin-left: 2rem; }
  #hero #header-1 {
    letter-spacing: 0;
    font-size: 6.5rem; }
  #hero #header-3 {
    font-size: 1.8rem; }
  #hero .btn-contact {
    margin: 1.5rem 1.5rem 1.5rem 0;
    letter-spacing: 1px;
    line-height: 0;
    padding: 3rem 4rem; } }
