.about {
	grid-row: 2/3;
	grid-column: center-start/center-end;
	// clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	display: grid;
	column-gap: 2rem;
	grid-template-columns: repeat(auto-fit,  minmax(57rem, 1fr));
	padding: 5rem 5.5rem 10rem 5.5rem;

	&__overview {
		display: flex;
		flex-direction: column;

	}

	&__image {
		height: 50rem;
		width: 50rem;
		border-radius: 50%;
		border-collapse: separate; 
	}

	&__me{
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	&__name{
		letter-spacing: .2rem;
		text-transform: uppercase;
		background-image: linear-gradient(to right, $color-secondary-3-g, $color-secondary-3-dark);
		background-clip: text;
		color: transparent;
	}

	&__job{
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #222;
		margin-top: -4rem;
	}

	&__description{
		font-size: 2rem;
		max-width: 60rem;
		color: #222;
		text-align: justify;
	}

	.skills{
		font-size: 5rem;
		letter-spacing: .2rem;
		text-transform: uppercase;
		background-image: linear-gradient(to right, $color-secondary-3-g, $color-secondary-3-dark);
		background-clip: text;
		color: transparent;
	}

	
}

.about__skill {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	column-gap: 2rem;

	.skills {
		
	}
	.wrapper {
		
	}


	.wrapper {
		text-align: center;
		border-radius: 50%;
		display: flex;
		flex-wrap: wrap;
		column-gap: 3rem;
		row-gap: 1rem;
	}

/* Badge */
	.badge {
		margin: 1.5rem 3rem;
		width: 10rem;
		height: 10rem;
		border-radius: 20%;
		display: inline-block;
		top: 0;
		transition: all 0.2s ease;
  		box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
	}

	.rounded {
		width: 7rem;
		height: 7rem;
	    background: white;
	    position: absolute;
	    margin: 15px 16px auto;
	    z-index: 10;
		border-radius: 30%;
	    box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
  
  		i.fab,
  		i.fas {
    		font-size: 3.5rem;
			margin-top: 16px;
  		}
	}

	/* Colors */
	.blue {
	    background: dodgerblue;
	    color: deepskyblue;
	}

	.orange {
	  background: darkorange;
	  color: orange;
	}

	.gold {
	  background: gold;
	  color: gold;
	}

	.black {
		background: #757575;
		color: #757575;
	}

	.react {
	  background: #61dbfb;
	  color: #61dbfb;
	}

	.purple {
	  background: mediumpurple;
	  color: slategray;
	}

	.green {
	  background: yellowgreen;
	  color: darkslategray;
	}

	.crimson {
	  background: crimson;
	  color: firebrick;
	}

	.steel {
	  background: steelblue;
	  color: gold;
	}

	.pink {
	  background: hotpink;
	  color: palevioletred;
	}

	.rebecca {
	  background: rebeccapurple;
	  color: rebeccapurple;
	}

	.gainsboro {
	  background: gainsboro;
	  color: orangered;
	}

	.grey {
		background: #464646;
		color: #464646;
	}
}



// media queries

@media screen and (max-width: 1200px) {

	.about__skills {
		justify-items: center;
	}
}