.about {
	grid-row: 2/3;
	grid-column: center-start/center-end;
	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 0.5fr));

}

.about {
	color: #fff;
	font-family: Ubuntu, sans-serif;
	&__overview{
		background-image: url("../patterns/Paaatterns/SVG/full-Taieri.svg");
		background-size: cover;
		background-position: -60%;
		background-repeat: no-repeat;
		background-color: $color-primary;

	}

	&__skill{
		background-color: $color-secondary-4;
	}

	&__image {
		height: 55rem;
		width: 55rem;
		display: block;
		margin-left: -1rem; 
	}

	&__name {
		font-size: 4.5rem;
		margin-left: 1rem;
		margin-bottom: -0.5rem;
		margin-left: 6rem;
		margin-top: -2rem;
		letter-spacing: .2rem;
		text-transform: uppercase;
		background-image: linear-gradient(to right, $color-secondary-3-g, $color-secondary-3-dark);
		background-clip: text;
		color: transparent;

	}
	&__job {
		font-size: 3rem;
		margin-left: 6rem;
		margin-top: -1.5rem;
		letter-spacing: .1rem;
		text-transform: uppercase;
		background-image: linear-gradient(to right, $color-secondary-4-g, $color-secondary-4-dark);
		background-clip: text;
		color: transparent;
	}
	&__description {
		font-size: 1.5rem;
		margin-left: 1rem;
		margin-left: 6rem;
		margin-top: 1rem;
		max-width: 50rem;
		background-image: linear-gradient(to right, $color-secondary-5-g, $color-secondary-5-dark);
		background-clip: text;
		color: transparent;
	}









}