.about {
	&__name{
		font-size: 5rem !important;
	}
	&__job{
		font-size: 3rem !important;
	}
	&__description{
		font-size: 2rem !important;
	}
}

#header-1 {
	font-size: 8rem;
	letter-spacing: 1px;
}

#header-3 {
	font-size: 2rem;
}

#navText {
	font-size: 2rem;
	margin-top: 0.3rem;
}

#btnText {
	font-size: 1.5rem;
}



